.notification {
  position: fixed;
  z-index: 3;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 24px;
  color: var(--text-secondary-color);
  border-radius: 12px;
  background-color: #403f3d;
}
