.form-field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 400px;

  .label,
  .legend {
    line-height: 150%;
  }

  .input,
  .select {
    padding: 16px 12px;
    width: 100%;
    color: var(--text-primary-color);
    font-size: 16px;
    line-height: 150%;
    outline: none;
    border: 1px solid var(--border-light);
    border-radius: 12px;
    background-color: var(--bg-color-primary);
  }

  &.radio {
    .options-container {
      display: flex;
      gap: 15px;

      padding: 16px 4px;
      border: 1px solid transparent;
      border-radius: 12px;
      background-color: var(--bg-color-primary);
    }

    .radio-option {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .label,
    .input {
      cursor: pointer;
    }
  }

  .helper-text {
    position: relative;
    height: 12px;
    font-size: 12px;
    color: var(--warning-color);
  }

  &.error {
    .input,
    .select {
      border-color: var(--warning-color);
    }

    .options-container {
      border-color: var(--warning-color);
    }

    &::after {
      content: '!';
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-30%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--warning-color);
      width: 24px;
      height: 24px;
      border: 1px solid var(--warning-color);
      border-radius: 100px;
      background-color: var(--bg-color-primary);
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-color-primary) inset !important;
  box-shadow: 0 0 0 1000px var(--bg-color-primary) inset !important;
  -webkit-text-fill-color: var(--text-primary-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 767px) {
  .input-container {
    width: 340px;
  }
}
